@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, forest;
}
@plugin "@tailwindcss/typography";

@font-face {
  font-family: Geist;
  font-display: swap;
  src: url("/src/assets/Geist/Geist-Regular.woff2") format("woff2");
}

@font-face {
  font-family: GeistMono;
  font-display: swap;
  src: url("/src/assets/GeistMono/GeistMono-Regular.woff2") format("woff2");
}


@theme {
  --font-sans: GeistMono, sans-serif;
}